Babel==2.8.0
BeautifulSoup==3.1.0.1
CherryPy==3.2.2
Django==1.2.5
Graphy==1.0.0
Havok==0.0.3
Jinja2==2.6
Logbook==0.9.1
Markdown==2.6.8
MarkupSafe==0.15
Pillow==2.9.0
PyCAPTCHA==0.4.1
PyHamcrest==1.8.1
PyJWT==1.1.0
PyPDF2==1.24
PyYAML==3.10
Pygments==2.4.2
SQLAlchemy==0.8.1
Sphinx==1.3.1
WebOb==1.1.1
WebTest==2.0.16
admin-frugal==1.1.0
alabaster==0.7.12
amqp==1.4.9
antlr-python-runtime==3.1.3.1
anyjson==0.3.3
app-intelligence==3.0.1
appstats-logger==0.1
argparse==1.2.1
astroid==1.6.4
attrs==16.3.0
authmodel==0.26.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
bigsky-client==1.0.0
biloba==1.2.0
bleach==1.1.5
blob-storage==3.5.1
boto==2.32.1
botocore==1.14.6
certifi==2017.7.27.1
chardet==3.0.4
comments-service-py==4.0.1
configobj==4.7.2
contour==0.2.2
copy-frugal==0.1.12
coverage==3.7.1
crypto-kms-client-py==2.1.4
docker-py==1.7.2
docmodel-frugal==0.9.0
docmodel.content==1.0.3
docutils==0.13.1
dogstatsd-python==0.5.2
enum==0.4.4
enum34==1.0.4
event-framework-frugal==2.22.0
file-services-client==1.24.0
formic==0.9beta8
frugal==2.18.0
furious==1.6.0
futures==2.1.3
gae-archive==0.12.1
gae-chaos==0.1.0
gae-link-libs==1.7.0
gaepytz==2011h
gevent==1.1.2
github3.py==0.9.3
google-api-python-client==1.4.2
gopher==2.1.0
graph-api==16.52.0
greenlet==0.4.13
gresilient==0.2.5
grizzled-python==1.0
gstats==0.9.10
hash-ring==1.3.1
haversine==0.1
home-frugal==5.8.0
html5lib==0.95
httplib2==0.8
idm-frugal==1.15.0
idna==2.6
ipaddr==2.1.3
iterext==1.0
jmespath==0.9.4
kombu==3.0.21
lazy-object-proxy
licensing-frugal==4.115.0
linecache2==1.0.0
linking-client==1.0.5
linking-frugal==11.8.0
logilab-common==1.5.2
lxml==4.6.2
mailer==0.3.2
messaging-sdk==3.3.6
mock==1.0.1
mox==0.5.3
msgpack-python==0.4.8
newrelic==5.6.0.135
notifications-frugal==2.1.0
numpy==1.6.1.1
oauth2==1.5.211
oauth2client==1.4.7
oauthlib==3.1.0
oauthtwo==0.44.0
passlib==1.6.5
pika==0.9.14
ply==3.8
prettytable==0.7.2
psutil==2.2.0
pyPdf==1.13
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6
pycryptodomex==3.9.6
pyga==2.5.0
pylint==1.1.0
pylzma==0.4.4
python-dateutil==2.2
python-gflags==2.0
python-pptx==0.4.2
pytz==2019.3
pyzmq==13.1.0
qrcode==4.0.4
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
richapps==0.11.7
rsa==3.1.4
server-composition==5.390.0
sh==1.09
shutilwhich==1.0.1
simplejson==2.5.0
singledispatch==3.4.0.3
six==1.7.0
smithy-anvil==2.1.0
smithy-builder==3.11.2
smithy-core==0.25.0
smithy-git-utils==0.0.2
snowballstemmer==2.0.0
soupsieve==1.9.5
sphinx-rtd-theme==0.1.9
sphinxcontrib-httpdomain==1.2.0
sqlcmd==0.7.1
stemming==1.0.1
svgwrite==1.1.3
tasker==1.8.25
tasker-client-py==1.0.3
tasker-frugal==2.8.0
testfixtures==4.1.2
thrift==0.10.0
traceback2==1.4.0
unittest2==1.1.0
universal-analytics-python==0.2.4
uritemplate==0.6
uritemplate.py==0.3.0
urllib3==1.22
vessel==4.6.4
w-annotation==3.11.13
w-binder-manager==1.0.44
w-elements==1.2.13
w-formula-spec==3.0.1
w-xunitparser==1.3.3-3
wack-client-py==0.8.0
waitress==1.4.3
wcontent-frugal==2.128.0
webapp2==2.5.2
websocket-client==0.11.0
wf-annotation-services==1.1.14
wf-bam-services==0.0.14
wf-books==0.1.131
wf-calc==2.5.73
wf-datacollection==1.0.10
wf-docgen==0.0.5
wf-elementtree==0.1.2.1
wf-gae-sdk==1.9.30.1
wf-mobile-services==1.0.46
wf-poster==0.8.1
wf-py-diff-match-patch==0.1.0
wf-python-openid==2.2.5
wf-sdk==3.4.14
wf-section16==1.0.23
wf-viewer-services==7.24.0
wf-voluptuous==0.8.4-1
wfml==1.22.0
wheel==0.23.0
workload==1.1.1
workspaces-frugal==13.0.7
wrapt==1.11.2
wsgiref==0.1.2
wuri-sdk==2.1.0
wvalidation==0.1.18
zerorpc==0.4.4
